<h2>
    Welcome to your grocery list! <br/>
    Please log-in or sign-up!
</h2>

<a class="autho" href="/auth/signup">Signup</a>
<a class="autho" href="/auth/login">Login</a>
<a class="autho" href="/auth/logout">Logout</a>

<style>
    h2 {
        color: darkblue;
    }
    .autho {
        font-size: 20px;
        font-weight: bold;
        margin-right: 25px;
    }
</style>