body {
  margin: 0;
  padding: 0;
  background: url(/img/background.jpg);
  background-size:cover;
}
.alert {
  width: 70%;
}
.navbar-brand {
  margin-left: 10px;
  font-weight: bold;
  font-family: serif;
}



