<h3>Add new item to your list</h3>
<h4>To see nutritions values for the items you are adding to the list, please write the items you are adding in plain english, whole word, singular</h4>

<form action="/item/<%=listId%>" method="POST" autocomplete="on">
  <div class="form-group">
    <label for="itemName">Item name</label>
    <input type="text" class="form-control" id="itemName" name="itemName" required>
  </div>

  <div class="form-group">
    <label for="amount">Amount</label>
    <textarea type="integer" class="form-control" id="amount" name="amount" autocomplete="off" required></textarea>
  </div>

  <input type="submit" class="btn btn-primary">
</form>

<style>
    body {
    margin: 0;
    padding: 0;
    background: url(/img/background.jpg);
    background-size:cover;
    }
    h3, h4 {
    color: darkblue;
    font-family: serif;
    }
    label {
    color: darkblue;
    font-size: 16px;
    font-family: sans-serif;

    }
    .navbar-brand {
      margin-left: 10px;
      font-weight: bold;
      font-family: serif;
    }
    .form-group {
      margin-top: 20px;
    }
    #itemName, #amount{
      width: 70%;
    }
  </style>