<h1>Edit Item</h1>

<div>
  <div>
    <%=item.itemName%>
  </div>

  <textarea type="text" class="form-control" id="body" placeholder="Amount" name="amount"><%=item.amount%></textarea>


  <a type="button" class="btn btn-primary" href="/list/<%=item.listId%>" editUrl="/item/edit/<%=item.itemName%>">Submit</a>
</div>




<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js">
</script>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"
 integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4="
 crossorigin="anonymous"></script>
<script>
    // listen for a "submit" event for the edit page. the edit form will live
    $('[type=button]').on('click', function(e) {
        //e.preventDefault();
        var updateUrl = $(this).attr('editUrl');
        //will take form data and put in list data
        var body = $('#body').serialize();
        // at the path GET /list/edit/:itemName. Use AJAX to send a PUT request to the
        // appropriate URL
        $.ajax({
        method: 'PUT',
        url: updateUrl,
        data: body
        }).done(function(data) {
        // get data returned from the PUT route
        console.log(data);
        });
    });
</script>

<style>
    body {
    margin: 0;
    padding: 0;
    background: url(/img/background.jpg);
    background-size:cover;
    }
    h1, div {
    color: darkblue;
    font-family: serif;
    }
    div {
      font-size: 30px;
    }
    label, .form-control {
    color: darkblue;
    font-size: 16px;
    font-family: sans-serif;

    }
    .navbar-brand {
      margin-left: 50px;
      font-weight: bold;
    }
    
    #body{
      width: 70%;
    }
  </style>


